# Dependencies
node_modules

# Build outputs
.nuxt
dist

# Environment & secrets
.env
.env.*
!.env.example

# Git
.git

# IDE
.idea
.vscode
.DS_Store

# Logs
*.log

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# CI/CD
.github

# Docs
*.md
