# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# Authentication
# Set to 'true' to enable authentication
NUXT_AUTH_ENABLED=false
# Secret key for encrypting sessions (generate a random string, e.g., using openssl rand -hex 32)
NUXT_AUTH_SECRET=
