**
!dist/extension.cjs
!dist/piwi-language-server.cjs
!dist/piwi-recorder-launcher.cjs
!dist/piwi-use-reporter.cjs
!dist/record-ide.js
!dist/record-ide-messages.json
!package.json
!README.md
!LICENSE
!icon.png
!media/**
